<!DOCTYPE html>
<html lang="ar" dir="rtl" data-bs-theme="dark">
	<head>
		{% block head %}
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<title>{%block title %}{%endblock%}</title>

			{%block styles%}
				<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css">
				<link rel="stylesheet" href="{{ url_for('static', filename='css/loginstyle.css') }}">
			{%endblock%}

		{%endblock%}
	</head>
	
	<section>
	<body>
			{% block content %}{% endblock %}
	</body>
	</section>
</html>
