{% extends 'login_theme.html' %}

{%block title%}مستخدم جديد{%endblock%}

{%block content%}
    <div class="register">
        <h1>السفيرة عزيزة</h1>
        <h4>ترحب بكم</h4>

        <div class="links">
            <a href="{{ url_for('login') }}">تسجيل الدخول</a>
            <a href="{{ url_for('register') }} " class="active">مستخدم جديد</a>
        </div>

        <form action="{{ url_for('register') }}" method="post" autocomplete="off">
           
            <div style="display: flex;">
                <label for="fullname">
                <i class="fas fa-user"></i>
            </label>
            <input type="text" name="fullname" placeholder="الإسم بالكامل" id="fullname" required>
            </div>

            <div style="display: flex;">
            <label for="phoneno">
                <i class="fas fa-phone"></i>
            </label>
            <input type="number" name="phoneno" placeholder="رقم الجوال (يحتوي على كود الدولة)" id="phoneno" required>
            </div>

            <div style="display: flex;">
            <label for="password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="password" placeholder="كلمة المرور" id="password" required>
            </div>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <a class="hideMe" style="color: red;">{{ message }}</a>
                    {% endfor %}
                {% endif %}
    		{% endwith %}

            <input type="submit" value="حفظ">
        </form>
    </div>
{%endblock%}