{% extends 'base.html' %}

{%block title%}Home{%endblock%}

{%block content%}
      <div class="jumbotron">
        <h1>Notes</h1>
        <ul class="list-group list-group-flush" id="notes">
          {% for note in user.notes%}
          <li class="list-group-item">
            {{note.data}}
            <button type="button" class="close" onClick="deleteNote({{note.id}})">
              <span aria-hidden="true">&times;</span>
            </button>
          </li>
          {% endfor %}
        </ul>
        <form method="POST">
          <textarea name="note" id="note" class="form-control"></textarea>
        </br>
          <div align="center">
            <button type="submit" class="btn btn-primary">Add Note</button>
          </div>
        </form>
      </div>

      {%block script%}
      <script language="javascript">
        function deleteNote(noteId){
          fetch('/delete-note',{
            method='POST',
            body: JSON.stringify({noteId:noteId}),
          }).then((_res) => {
            window.location.href="/";
          });
        }
      </script>
      {%endblock%}
{%endblock%}

